@import "tailwindcss";

:root {
  --background: #FFF;
  --foreground: #121826;
  --block: #E5E7EB;
  --block-hover: #E5E7EBCC;
  --title-gradient-start: #F2C595;
  --title-gradient-end: #8E3383;
  font-family: var(--font-be-vietnam-pro), sans-serif;
}

/* Inline theme variables for specific use cases */
/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-be-vietnam-pro);
  --font-mono: var(--font-be-vietnam-pro);
} */

/* Dark mode styles */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121826;
    --foreground: #FFF;
    --block: #FFF;
  }
} */

@layer base {
  body {
    @apply min-h-screen flex flex-col bg-[var(--background)] text-[var(--foreground)];
  }

  p, h1, h2, h3, li, a {
    @apply text-[var(--foreground)];
  }

  h1 {
    @apply font-bold text-4xl;
  }

  h2, h3 {
    @apply font-semibold text-base;
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards;
}

@layer utilities {
  .title-gradient {
    @apply bg-gradient-to-r from-[var(--title-gradient-start)] to-[var(--title-gradient-end)] bg-clip-text text-transparent;
    -webkit-background-clip: text;
  }
}

body {
  font-family: var(--font-be-vietnam-pro), sans-serif;
}

::selection {
  background: transparent;
  color: var(--foreground);
}

input::placeholder {
  font-size: 14px;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 12px;
  }
}

.home-hero {
  background-image: url("/img/hero-image.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: bottom;
}

.header-border-gradient {
  position: relative;
}

.header-border-gradient::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: 0;
  height: 100px;
  width: 100%;
  background: linear-gradient(to right, #f97316, #ec4899, #f43f5e);
  transition: height 0.5s ease, opacity 0.5s ease;
  opacity: 0;
}

.header-border-gradient.active::after {
  opacity: 1;
}