@import "tailwindcss";

:root {
  --background: #FFF;
  --foreground: #121826;
  --block: #E5E7EB;
  --block-hover: #E5E7EBCC;
  font-family: var(--font-be-vietnam-pro), sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-be-vietnam-pro);
  --font-mono: var(--font-be-vietnam-pro);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #121826;
    --foreground: #FFF;
    --block: #FFF;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

h2, h3 {
  font-size: 1rem;
}

p {
  font-size: 14px;
}
h1,h2, h3, p,li,a {
  font-family: var(--font-be-vietnam-pro), sans-serif;
  color: var(--foreground);
}

input::placeholder {
  font-family: var(--font-be-vietnam-pro), sans-serif;
  font-size: 14px;
  font-weight: 100;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 12px;
  }
}

.home-hero {
  background-image: url("/img/hero-image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}